@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 256 27% 95%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 256 34% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 256 20% 90%;
    --secondary-foreground: 256 34% 40%;
    --muted: 256 20% 90%;
    --muted-foreground: 256 20% 55%;
    --accent: 164 40% 52%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 256 10% 85%;
    --input: 256 10% 88%;
    --ring: 164 40% 52%;
    --chart-1: 256 34% 60%;
    --chart-2: 164 40% 52%;
    --chart-3: 340 80% 65%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 256 15% 12%;
    --foreground: 256 20% 90%;
    --card: 256 15% 15%;
    --card-foreground: 256 20% 90%;
    --popover: 256 15% 12%;
    --popover-foreground: 256 20% 90%;
    --primary: 256 40% 70%;
    --primary-foreground: 0 0% 98%;
    --secondary: 256 15% 25%;
    --secondary-foreground: 256 20% 90%;
    --muted: 256 15% 25%;
    --muted-foreground: 256 20% 60%;
    --accent: 164 45% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 256 15% 25%;
    --input: 256 15% 25%;
    --ring: 164 45% 60%;
    --chart-1: 256 40% 70%;
    --chart-2: 164 45% 60%;
    --chart-3: 340 80% 65%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
